
/*
.sdpromptviewer entry { background: #669999; }
*/

.sdpromptviewer textview {
    font-size: 110%;
    /*
    text {
        background: #886600;
    }
    */
}

.sdpromptviewer label {
    font-weight: light;
    font-size: 100%;
    padding-top: 0;
    padding-bottom: 0;
}


.sdpromptviewer .group-title {
    font-weight: bolder;
    font-size: 110%;
    margin-top: 0.5ex;
    margin-bottom: 0.3ex;
}

.sdpromptviewer .group-box {
    /* background: #886600; */
    margin-left: 1em;
}

.sdpromptviewer entry {
    font-size: 100%;
    padding-top: 0;
    padding-bottom: 0;
    border-width: 0;
    border-radius: 0;
}

.sdpromptviewer scrolledwindow {
    border-width: 0;
    border-radius: 0;    
}

.sdpromptviewer textview {
    padding: 0.5em;
}
